article {
  font-size: var(--font-size-normal);
  color: var(--color-dark-secondary);
  line-height: 1.6;
}

/* -------------------------------------------------------------------------- */
/*                                   Headers                                  */
/* -------------------------------------------------------------------------- */

article h1 {
  font-weight: bold;
  border: initial;
  border-bottom: 1px solid var(--color-separator);
  margin-top: 2rem;
  margin-left: calc(var(--spacing-m) * -1);
  margin-right: calc(var(--spacing-m) * -1);
  margin-bottom: var(--spacing-xl);
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-m);
  padding-bottom: var(--spacing-ms);
  color: var(--color-dark-primary);
  line-height: 1.3em;
}

article h2,
article h3,
article h4,
article h5,
article h6 {
  font-weight: bold;
  margin-top: 1.6rem;
  margin-bottom: 0.75rem;
  color: var(--color-dark-primary);
  line-height: 1.4em;
}

article h1:first-child,
article h2:first-child,
article h3:first-child,
article h4:first-child,
article h5:first-child,
article h6:first-child {
  margin-top: 0;
}

article h1 {
  font-size: var(--font-size-title-1);
}
article h2 {
  font-size: 2rem;
}
article h3 {
  font-size: 1.6rem;
}
article h4 {
  font-size: 1.2rem;
}
article h5 {
  font-size: 1rem;
  font-style: italic;
}
article h6 {
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
}

/* -------------------------------------------------------------------------- */
/*                                  Paragraph                                 */
/* -------------------------------------------------------------------------- */

article p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article p:first-child {
  margin-top: 0em;
}

/* -------------------------------------------------------------------------- */
/*                                   Blocks                                   */
/* -------------------------------------------------------------------------- */

article code {
  background-color: var(--color-light-secondary);
  padding: var(--spacing-xs) var(--spacing-s);
  border-radius: var(--border-radius-normal);
}
