article {
  font-size: var(--font-size-normal);
  color: var(--color-dark-2);
}

/* -------------------------------------------------------------------------- */
/*                                  Paragraph                                 */
/* -------------------------------------------------------------------------- */

article p {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

article p:first-child {
  margin-top: 0em;
}

/* -------------------------------------------------------------------------- */
/*                                   Headers                                  */
/* -------------------------------------------------------------------------- */

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-weight: bold;
  margin-top: 1.6rem;
  margin-bottom: 0.75rem;
  color: var(--color-dark-1);
}

article h1:first-child,
article h2:first-child,
article h3:first-child,
article h4:first-child,
article h5:first-child,
article h6:first-child {
  margin-top: 0;
}

article h1 {
  font-size: 2rem;
}
article h2 {
  font-size: 1.6rem;
}
article h3 {
  font-size: 1.2rem;
}
article h4 {
  font-size: 1rem;
}
article h5 {
  font-size: 1rem;
  font-style: italic;
}
article h6 {
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
}
