:root {
  --header-height: 48px;
  --sidebar-width: 300px;
  --toc-width: 240px;

  /* Font sizes */
  --font-size-normal: 16px;
  --font-size-hero: 52px;
  --font-size-title-1: 40px;
  --font-size-title-2: 24px;
  --font-size-title-3: 18px;
  --font-size-small: 14px;
  --font-size-tiny: 12px;

  /* Spacing */
  --spacing-xxl: 48px;
  --spacing-xl: 32px;
  --spacing-l: 24px;
  --spacing-ml: 20px;
  --spacing-m: 16px;
  --spacing-ms: 12px;
  --spacing-s: 8px;
  --spacing-xs: 4px;

  /* Main colors */
  /* https://uxdesign.cc/dark-mode-ui-design-the-definitive-guide-part-1-color-53dcfaea5129 */
  /* https://design.rockcontent.com/docs/foundations/colors/ */
  --color-gray-0: #f8f8f8;
  --color-gray-1: #e4e7eb;
  --color-gray-2: #cbd2d9;
  --color-gray-3: #9aa5b1;
  --color-gray-4: #7b8794;
  --color-gray-5: #616e7c;
  --color-gray-6: #52606d;
  --color-gray-7: #3e4c59;
  --color-gray-8: #323f4b;
  --color-gray-9: #1f2933;
  --color-blue-0: #f5f8ff;
  --color-blue-1: #c0d6ff;
  --color-blue-2: #8bb3fd;
  --color-blue-3: #5c93f7;
  --color-blue-4: #3576ed;
  --color-blue-5: #225ed8;
  --color-blue-6: #1649bc;
  --color-blue-7: #0f369b;
  --color-blue-8: #0b2574;
  --color-blue-9: #040c2a;
  --color-purple-0: #f9f7ff;
  --color-purple-1: #dad2ff;
  --color-purple-2: #baadfc;
  --color-purple-3: #9d8af5;
  --color-purple-4: #826deb;
  --color-purple-5: #6b58d6;
  --color-purple-6: #5647bb;
  --color-purple-7: #42379a;
  --color-purple-8: #2d2673;
  --color-purple-9: #141236;
  --color-teal-0: #ecfcfc;
  --color-teal-1: #c1f9f8;
  --color-teal-2: #8febea;
  --color-teal-3: #39d2d2;
  --color-teal-4: #009e9e;
  --color-teal-5: #008080;
  --color-teal-6: #006666;
  --color-teal-7: #004d4d;
  --color-teal-8: #003333;
  --color-teal-9: #062424;
  --color-yellow-0: #fff9ed;
  --color-yellow-1: #ffecbb;
  --color-yellow-2: #ffdd87;
  --color-yellow-3: #ffb92e;
  --color-yellow-4: #db7500;
  --color-yellow-5: #b35c00;
  --color-yellow-6: #883e01;
  --color-yellow-7: #742f01;
  --color-yellow-8: #5f2102;
  --color-yellow-9: #3c0901;
  --color-sidebar-bg: #eef0f3;

  /* Border radius */
  --border-radius-rounded: 999px;
  --border-radius-normal: 4px;
}

/* -------------------------------------------------------------------------- */
/*                                    Main                                    */
/* -------------------------------------------------------------------------- */

body {
  font-family: 'Noto Sans', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  font-size: var(--font-size-normal);
  background: var(--color-gray-0);
  color: var(--color-gray-6);
  line-height: 1.6;
}

pre,
code {
  font-family: source-code-pro, 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
}

/* -------------------------------------------------------------------------- */
/*                                   Headers                                  */
/* -------------------------------------------------------------------------- */

h1 {
  font-weight: bold;
  border: initial;
  border-bottom: 1px solid var(--color-gray-2);
  margin-top: 2rem;
  margin-left: calc(var(--spacing-m) * -1);
  margin-right: calc(var(--spacing-m) * -1);
  margin-bottom: var(--spacing-xl);
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-m);
  padding-bottom: var(--spacing-ms);
  color: var(--color-gray-9);
  line-height: 1.3em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: var(--spacing-xl);
  margin-bottom: var(--spacing-m);
  color: var(--color-gray-9);
  line-height: 1.4em;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: var(--font-size-title-1);
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
  font-style: italic;
}
h6 {
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
}

/* -------------------------------------------------------------------------- */
/*                                  Paragraph                                 */
/* -------------------------------------------------------------------------- */

p {
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-m);
}

p:first-child {
  margin-top: 0em;
}

/* -------------------------------------------------------------------------- */
/*                                   Blocks                                   */
/* -------------------------------------------------------------------------- */

code {
  background-color: var(--color-gray-1);
  padding: var(--spacing-xs) var(--spacing-s);
  border-radius: var(--border-radius-normal);
}

/* -------------------------------------------------------------------------- */
/*                                    Links                                   */
/* -------------------------------------------------------------------------- */

a {
  text-decoration: none;
  color: var(--color-blue-4);
}
a:hover {
  text-decoration: underline;
}

/* -------------------------------------------------------------------------- */
/*                                    Lists                                   */
/* -------------------------------------------------------------------------- */

ul {
  list-style: disc outside;
  margin-top: var(--spacing-ms);
  margin-bottom: var(--spacing-ms);
}

li {
  margin: var(--spacing-s) 0;
  margin-left: var(--spacing-ml);
  padding-left: var(--spacing-s);
}
