/* -------------------------------------------------------------------------- */
/*                                    Main                                    */
/* -------------------------------------------------------------------------- */

body {
  font-family: 'Noto Sans', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  font-size: var(--font-size-normal);
  background: var(--color-gray-0);
  color: var(--color-gray-6);
  line-height: 1.6;
}

/* -------------------------------------------------------------------------- */
/*                                  Paragraph                                 */
/* -------------------------------------------------------------------------- */

p {
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-m);
}

p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}

/* -------------------------------------------------------------------------- */
/*                                   Headers                                  */
/* -------------------------------------------------------------------------- */

h1 {
  font-weight: bold;
  border: initial;
  border-bottom: 1px solid var(--color-gray-2);
  margin-top: 2rem;
  margin-left: calc(var(--spacing-m) * -1);
  margin-right: calc(var(--spacing-m) * -1);
  margin-bottom: var(--spacing-xl);
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-m);
  padding-bottom: var(--spacing-ms);
  color: var(--color-gray-9);
  line-height: 1.3em;
}

h2 {
  font-weight: bold;
  margin-top: var(--spacing-xxl);
  margin-bottom: var(--spacing-m);
  padding-bottom: var(--spacing-s);
  border-bottom: 1px solid var(--color-gray-2);
  color: var(--color-gray-9);
  line-height: 1.3em;
}

h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: var(--spacing-xl);
  margin-bottom: var(--spacing-m);
  color: var(--color-gray-9);
  line-height: 1.3em;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: var(--font-size-title-1);
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
  font-style: italic;
}
h6 {
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
}

/* -------------------------------------------------------------------------- */
/*                                    Code                                    */
/* -------------------------------------------------------------------------- */

pre,
code,
textarea {
  font-family: source-code-pro, 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
}

code {
  background-color: var(--color-gray-1);
  padding: var(--spacing-xxs) var(--spacing-xs);
  border-radius: var(--border-radius-normal);
  font-size: 0.9em;
}

pre {
  width: auto;
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-m);
  border-radius: var(--border-radius-normal);
  padding: var(--spacing-ms);
  overflow: auto;
  color: var(--color-gray-2) !important;
  font-size: var(--font-size-small);
  line-height: 1.4;
  /* adapting to prism.js okaida theme */
  background-color: #272822;
  scrollbar-color: var(--color-gray-6) transparent;
}
pre code {
  /* Overriding highlight.js styles */
  background-color: transparent !important;
  overflow: visible !important;
  padding: 0 !important;
  font-size: var(--font-size-small);
}

/* -------------------------------------------------------------------------- */
/*                                    Links                                   */
/* -------------------------------------------------------------------------- */

a {
  text-decoration: none;
  color: var(--color-blue-4);
}
a:hover {
  text-decoration: underline;
}

/* -------------------------------------------------------------------------- */
/*                                    Lists                                   */
/* -------------------------------------------------------------------------- */

ul {
  list-style: disc outside;
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-m);
}
ol {
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-m);
}

ul ul {
  list-style-type: circle;
}

li {
  margin: var(--spacing-s) 0;
  margin-left: var(--spacing-ml);
  padding-left: var(--spacing-s);
}

/* -------------------------------------------------------------------------- */
/*                                   Tables                                   */
/* -------------------------------------------------------------------------- */

table {
  width: 100%;
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-m);
}

th,
td {
  padding: var(--spacing-s);
  border-top: 1px solid var(--color-gray-2);
  border-bottom: 1px solid var(--color-gray-2);
}
th {
  background-color: var(--color-gray-1);
}

tbody th {
  background-color: transparent;
}
thead th,
thead td,
tfoot th,
tfoot td {
  background-color: var(--color-gray-1);
}

table p,
table ul,
table ol,
table pre {
  margin-top: var(--spacing-s);
  margin-bottom: var(--spacing-s);
}

caption {
  margin-bottom: var(--spacing-s);
}

/* -------------------------------------------------------------------------- */
/*                                    Form                                    */
/* -------------------------------------------------------------------------- */

fieldset {
  padding: var(--spacing-s) var(--spacing-m);
  padding-bottom: var(--spacing-m);
}

/* -------------------------------------------------------------------------- */
/*                                   Others                                   */
/* -------------------------------------------------------------------------- */

hr {
  border: none;
  border-bottom: 1px dashed var(--color-gray-3);
  margin: var(--spacing-xl) 0;
}

blockquote {
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-m);
  font-style: italic;
  border-left: var(--spacing-s) solid var(--color-gray-1);
  padding-left: var(--spacing-m);
  color: var(--color-gray-4);
}

kbd {
  background: linear-gradient(var(--color-gray-0), var(--color-gray-1));
  padding: var(--spacing-xxs) var(--spacing-xs);
  border: 1px solid var(--color-gray-2);
  border-bottom-width: 2px;
  border-radius: var(--border-radius-normal);
  font-size: 0.9em;
}

/* Definition list */
dt {
  margin-top: var(--spacing-m);
  font-weight: 700;
}
dt:first-child {
  margin-top: 0;
}
dd {
  margin-left: var(--spacing-l);
}

/* Figure */
figure {
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-m);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
figcaption {
  font-size: var(--font-size-small);
  background-color: var(--color-gray-1);
  color: var(--color-gray-4);
  display: inline-block;
  padding: var(--spacing-xs) var(--spacing-m);
  border-radius: var(--border-radius-normal);
}
figcaption:first-child {
  margin-bottom: var(--spacing-s);
}
figcaption:last-child {
  margin-top: var(--spacing-s);
}
