nav {
  padding: 24px;
  line-height: 1.4;
}
.group {
  margin-top: 28px;
}
.group:first-child {
  margin-top: 0;
}

h1 {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 12px;
}
a {
  display: block;
  position: relative;
  font-size: 15px;
  text-decoration: none;
  margin: 8px 0;
  margin-left: 18px;
  color: #999;
}
